[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GARCOM"]
	path = GARCOM
	url = https://github.com/sariya/garcom
	shallow = true
	registered = true
